.circle {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color:  #fdcf51;
  margin: 50px;
}

.red {
background-color: #dc143c;
}

.blue {
  background-color: #51a0fd;
}

.App {
  text-align: center;
  visibility: hidden;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    opacity: 0;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
